@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: #121316;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #ffffff;
  color: #fff;
}
.wrapper{
  width: 380px;
  background-color: #181a1d;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border-radius: 25px;
border:  #181a1d solid 3px;
box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
color: #fff;
transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color:  #d700a7  3px;
  background-color:   #181a1d;
  ;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #ffffff;
  background-color: #181a1d;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #ffffff;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: rgb(255, 255, 255);
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #ffffff;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}
.header{

    display: flex;
    justify-content: center;
    align-items: center;
   font-family: 'Righteous', cursive;   
   color: blue;
}
.title{

    font-size: 20px;

}
ul{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;


}
.itm{
    padding: 15px;
}   

.itm .a{

    text-decoration: none;
    font-size: 20px;

}
.home{
  color: #ffffff;
  text-decoration: none;
  display: flex;  
justify-content: center;
}
.logout{
  color: rgb(255, 255, 255);
    border: none;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 15px;
  margin-left: 30px;
}
