@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html{
    background-color: #121316;

}
h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: rgb(175, 175, 175);
    font-family: "Poppins", sans-serif;

}